---
apiVersion: machine.openshift.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ machinehealcheck_name }}
  namespace: openshift-machine-api
  annotations:
    machine.openshift.io/remediation-strategy: ""
spec:
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ infrastructure_id }}
      machine.openshift.io/cluster-api-machine-role: {{ role }}
      machine.openshift.io/cluster-api-machine-type: {{ role }}
      machine.openshift.io/cluster-api-machineset: {{ infrastructure_id }}-{{ role }}
  unhealthyConditions:
{% for item in unhealthyConditions %}
    - type: {{ item.type }}
      timeout: {{ item.timeout }}
      status: "{{ item.status }}"
{% endfor %}
  maxUnhealthy: {{ maxUnhealthy }}
  nodeStartupTimeout: {{ nodeStartupTimeout }}